<div class="container">
  <div class="row">
    <h2>Check Posture Cam</h2>
    <h5>The check cam will evaluate your posture as viewed from the side, please read the instructions carefully before you start.</h5>
  </div>
  <div class="main-container">
    <div class="instructions-container">
      <h3>Instructions:</h3>
      <ul>
        <li> <h6> Adjust the camera </h6> </li>
        <li> <h6>The camera will take a photo after 5 seconds </h6> </li>
        <li> <h6> Click on the camera button </h6> </li>
        <li> <h6> Take a few steps back </h6> </li>
        <li> <h6> Stand normally face the side and look staright </h6> </li>
        <li> <button id="button1" onclick="snapshot(); hideVideo(); countdown();"> <%= image_tag "camera.png" %> </button> </li>
      </ul>

      <%= simple_form_for @assessment do |f| %>
        <%= f.input :angle1, as: :hidden %>
        <%= f.input :angle2, as: :hidden %>
        <%= f.input :angle3, as: :hidden %>
        <%= f.input :photo, as: :hidden %>
        <ul> <h5>Click on the following points:</h5>
          <li><h5> <%= image_tag "cursor.png" %> Ear </h5></li>
          <li><h5> <%= image_tag "cursor.png" %> Shoulder </h5></li>
          <li><h5> <%= image_tag "cursor.png" %> Hip </h5></li>
          <li><h5> <%= image_tag "cursor.png" %> Knee </h5></li>
          <li><h5> <%= image_tag "cursor.png" %> Ankle </h5></li>
          <li> <%= f.button :submit, "Results", class: "btn" %> </li>
        </ul>
      <% end %>
    </div>
    <div class="camera-container">
      <body onload="init(); startWebcam(); ">
       <div class="countdown" id="countdown"></div>
      <!--     <button onclick="stopWebcam();">Stop WebCam</button>-->
      <video width=800 height=600 id="video" autoplay></video>
      <canvas  id="myCanvas" width="800" height="600"></canvas>
    </div>
  </div>
</div>


