<div class="container">
  <div class="row">
    <h2>Welcome to Check Posture Cam</h2>
    <h4>The check cam will evaluate your posture as viewed from the side</h4>
    <h5>The snap shot will take a photo afetr 5 seconds. At the time, step back a few steps, and face the side look straight as you stand stand normally. </h5>
    <h5>When you're ready take a snapshot</h5>
    <div class="col-xs-6 col-sm-2 col-sm-offset-2">
    <body onload="init(); startWebcam(); ">
    <h6>Press "start" to begin</h6>
    <button id="button1" onclick="snapshot(); hideVideo(); countdown(); ">Take Snapshot</button>

    <div class="countdown" id="countdown"></div>
    <!--     <button onclick="stopWebcam();">Stop WebCam</button>-->
    <video width=800 height=600 id="video" autoplay></video>
    <canvas  id="myCanvas" width="800" height="600"></canvas>
      <%= simple_form_for @assessment do |f| %>
       <%= f.input :angle1, as: :hidden %>
       <%= f.input :angle2, as: :hidden %>
       <%= f.input :angle3, as: :hidden %>
       <%= f.input :photo, as: :hidden %>
       <h5>Click on the following points:</h5>
       <h5> - Ear </h5>
       <h5> - Middle of shoulder </h5>
       <h5> - Hip </h5>
       <h5> - Middle of the knee </h5>
       <h5> - Ankle </h5>
       <%= f.button :submit, "Results", class: "btn" %>
       <% end %>
     </div>
  </div>
</div>


