<% content_for :meta_title, "Assess yourself" %>
<% content_for :meta_description %>
<% content_for :meta_image %>

<div class="container cam-big-contriner">
  <div class="row">
    <h2>Check Posture Cam</h2>
    <h4 class="text-center">The check cam will evaluate your posture as viewed from the side, please read the instructions for better results.</h5>
  </div>
  <div class="main-container">
    <div class="instructions-container">
      <h3 class="text-center">Instructions:</h3>
      <ol id="instruction1">
        <li> <h5> Adjust the camera angle to 90° </h5> </li>
        <li> <h5> Click on the camera button </h5> </li>
        <li> <h5> Take 4-5 steps back for a head-to-toe view </h5> </li>
        <li> <h5> Face sideways, look straight ahead </h5> </li>
        <li style="list-style-type: none"> <h5> (Photo will be taken 5 seconds after you press the camera button) </h5> </li>
        <li style="list-style-type: none"> <button id="button1" onclick="snapshot(); hideVideo(); countdown(); hideInstructionOne(); appearInstructionTwo(); "> <%= image_tag "camera.png" %> </button> </li>
      </ol>

      <div class="countdown" id="countdown"></div>

      <%= simple_form_for @assessment, html: { class: "hidden", id: :hidden } do |f| %>
        <%= f.input :angle1, as: :hidden %>
        <%= f.input :angle2, as: :hidden %>
        <%= f.input :angle3, as: :hidden %>
        <%= f.input :photo, as: :hidden %>
        <h5>1. Using the example as a guide, please click on the following listed points in your photo </h5>
        <h5>2. After clicking all 5 points, press "Submit for results" </h5>
        <div class="body-points-wraper">
          <div class="body-points">
            <ul>
            <li><h5> <%= image_tag "cursor.png" %> Ear </h5></li>
            <li><h5> <%= image_tag "cursor.png" %> Shoulder </h5></li>
            <li><h5> <%= image_tag "cursor.png" %> Hip </h5></li>
            <li><h5> <%= image_tag "cursor.png" %> Knee </h5></li>
            <li><h5> <%= image_tag "cursor.png" %> Ankle </h5></li></ul>
          </div>
          <div class="samplep">
          <%= cl_image_tag("samplep.jpg.gif", :class => "body-img") %>
          <p>Example</p>
          </div>
        </div>
          <%= f.button :submit, "Submit for results", class: "btn", id: "submitForm" %>


      <% end %>
    </div>
    <div class="camera-container text-center">
      <body onload="init(); startWebcam(); buttonDisable();">
      <!--     <button onclick="stopWebcam();">Stop WebCam</button>-->
      <video width=800 height=600 id="video" autoplay></video>
      <canvas  id="myCanvas" width="800" height="600"></canvas>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
