

<h3 class="text-center">Result</h3>

<div class="container">
  <div class="row">
    <div class="photo col-sm-4">
      <%= image_tag @assessment.photo.url %>
    </div>
    <div class="suggestion col-sm-6">
    <ul>
      <li class="show"> Your shoulder angle is:
        <% if (175..180).include?(@assessment.angle1) %>
          <div class="green"> <%= @assessment.angle1.to_i %> </div>
        <% elsif (170..175).include?(@assessment.angle1) %>
          <div class="orange"><%= @assessment.angle1.to_i %> </div>
        <% else %>
          <div class="red"><%= @assessment.angle1.to_i %> </div>
        <% end %> degree
      </li>

      <li class="show">Your hip angle is:
        <% if (175..180).include?(@assessment.angle2) %>
          <div class="green"> <%= @assessment.angle2.to_i %> </div>
        <% elsif (170..175).include?(@assessment.angle2) %>
          <div class="orange"><%= @assessment.angle2.to_i %> </div>
        <% else %>
          <div class="red"><%= @assessment.angle2.to_i %> </div>
        <% end %> degree
      </li>

      <li class="show">Your knee angle is:
        <% if (175..180).include?(@assessment.angle3) %>
          <div class="green"> <%= @assessment.angle3.to_i %> </div>
        <% elsif (170..175).include?(@assessment.angle3) %>
          <div class="orange"><%= @assessment.angle3.to_i %> </div>
        <% else %>
          <div class="red"><%= @assessment.angle3.to_i %> </div>
        <% end %> degree
      </li>
    </ul>
      Here are the exercises that we suggest:
      <div class="assessment-video">
        <% @programs.each do |program| %>
          <iframe width="176.4" height="132.3"
          src= <%= program.exercise.content %> >
          </iframe>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>
<p>

<% if user_signed_in? %>

  <%= link_to "Profile page", user_path(current_user), class: "btn" %>

<% else %>
  <%= link_to "Create an account to do more stuff", new_user_registration_path,class: "btn" %>

<% end %>


